div{
    text-align: center;
    background-color: black;
    color: white;
    height: px;; width: ; ;

}

h1{
    color: red;
    background-color: bisque;
}

h2{
    color: red;
    background-color: #FAFAFA;
    align-items: ;
}

.Menu{
    background-color: #FFF5F5;
    color: black;

}

.Dishes{
    background-color: #FFF5F5;
    color: black;

}

.contact{

    background-color: #FFF5F5;
    color: black;

}

.form{
    
    background-color: #FFF5F5;
    color: black;

}